# Created by .ignore support plugin (hsz.mobi)
### Linux template
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


### Eclipse template
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse


### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

cp/
src/pp/block1/cp
src/pp/block2/cp
src/pp/block3/cp
src/pp/block4/cp
*/cp/*
*.tokens
src/pp/block1/cc/antlr/Example.java
src/pp/block1/cc/antlr/ID6.java
src/pp/block1/cc/antlr/Musical.java
src/pp/block1/cc/antlr/Quote.java

src/pp/block2/cc/antlr/SentenceBaseListener.java
src/pp/block2/cc/antlr/SentenceLexer.java
src/pp/block2/cc/antlr/SentenceListener.java
src/pp/block2/cc/antlr/SentenceParser.java
src/pp/block2/cc/antlr/arithmetic/ArithmeticParser.java
src/pp/block2/cc/antlr/arithmetic/ArithmeticListener.java
src/pp/block2/cc/antlr/arithmetic/ArithmeticBaseListener.java
src/pp/block2/cc/antlr/arithmetic/ArithmeticLexer.java
src/pp/block2/cc/ll/Sentence.java
src/pp/block2/cc/ll/If.java
src/pp/block2/cc/ll/Abc.java
src/pp/block3/cc/antlr/CalcAttrListener.java
src/pp/block3/cc/antlr/CalcAttrLexer.java
src/pp/block3/cc/antlr/CalcBaseListener.java
src/pp/block3/cc/antlr/CalcLexer.java
src/pp/block3/cc/antlr/CalcParser.java
src/pp/block3/cc/antlr/CalcAttrParser.java
src/pp/block3/cc/antlr/CalcListener.java
src/pp/block3/cc/antlr/CalcVocab.java
src/pp/block3/cc/antlr/CalcAttrBaseListener.java
src/pp/block3/cc/symbol/DeclUseLexer.java
src/pp/block3/cc/symbol/DeclUseListener.java
src/pp/block3/cc/symbol/DeclUseParser.java
src/pp/block3/cc/symbol/DeclUseBaseListener.java
src/pp/homework/q1_5
src/pp/block3/cc/antlr/operators/OperListener.java
src/pp/block3/cc/antlr/operators/OperParser.java
src/pp/block3/cc/antlr/operators/OperAttrBaseListener.java
src/pp/block3/cc/antlr/operators/OperBaseListener.java
src/pp/block3/cc/antlr/operators/OperLexer.java
src/pp/block3/cc/antlr/operators/OperAttrListener.java
src/pp/block3/cc/antlr/operators/OperAttrLexer.java
src/pp/block3/cc/antlr/operators/OperVocab.java
src/pp/block3/cc/antlr/operators/OperAttrParser.java
src/pp/block3/cc/tabular/TabularLexer.java
src/pp/block3/cc/tabular/TabularBaseListener.java
src/pp/block3/cc/tabular/TabularParser.java
src/pp/block3/cc/tabular/TabularListener.java
src/pp/block4/cc/cfg/FragmentListener.java
src/pp/block4/cc/cfg/FragmentParser.java
src/pp/block4/cc/cfg/FragmentLexer.java
src/pp/block4/cc/cfg/FragmentBaseListener.java
src/pp/block4/cc/iloc/CalcParser.java
src/pp/block4/cc/iloc/CalcListener.java
src/pp/block4/cc/iloc/CalcLexer.java
src/pp/block4/cc/iloc/CalcBaseListener.java
src/pp/iloc/parse/ILOCLexer.java
src/pp/iloc/parse/ILOCBaseListener.java
src/pp/iloc/parse/ILOCParser.java
src/pp/iloc/parse/ILOCListener.java
src/pp/iloc/parse/ILOCLexer.tokens
src/pp/iloc/parse/ILOC.tokens